a.title {
    color:black;
    text-decoration:none;
}

.txtbtn:hover {
    text-decoration:underline;
    color:gray;
}

em {
    color:#c00;
    font-style:normal;
    font-weight:bold;
}